<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moji.jpushcache.dao.JpushCacheMapper">
	<resultMap type="com.moji.entity.JPushCache" id="jpushMap">
		<id property="jpushId" column="jpush_id"/>
		<result property="receiveId" column="receive_id"/>
		<result property="sendUserName" column="send_user_name"/>
		<result property="jpushExtras" column="jpush_extras"/>
		<result property="jpushFlag" column="jpush_flag"/>
	</resultMap>
	
	<insert id="insertJpushCacheMsg">
		insert into jpush_cache_msg(receive_id,send_user_name,jpush_extras,jpush_flag)
		values(#{receiveId},#{sendUserName},#{jpushExtras},#{jpushFlag})
	</insert>
	
	<select id="queryJPushCache" resultMap="jpushMap">
		select * from jpush_cache_msg where receive_id=#{receiveId}
	</select>
	
	<delete id="deleteJPushCache">
		delete from jpush_cache_msg where jpush_id=#{jpushId}
	</delete>
</mapper>