<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace代表唯一标识符 -->
<mapper namespace="com.moji.user.dao.UserMapper">
	<resultMap type="com.moji.entity.User" id="userMap">
		<id property="userId" column="user_id"/>
		<result property="userHeadImg" column="avatar_path"/>
		<result property="userName" column="user_name"/>
		<result property="sex" column="sex"/>
		<result property="signature" column="signature"/>
		<result property="occupation" column="occupation"/>
		<result property="password" column="password"/>
		<result property="phone" column="phone"/>
	</resultMap>
	<!-- 根据ID值查询用户信息 -->
	<select id="queryUser" resultMap="userMap">
		select * from user_detail where user_id=#{userId}
	</select>
	<!-- 查询关注列表 -->
	<select id="queryFollowed" resultMap="userMap">
		select * from user_detail where user_id in(select twoId from attention where oneId = #{userId})
	</select>
	<!-- 根据ID值查询是否关注 -->
	<select id="queryAttention" parameterType="com.moji.entity.Attention" resultType="com.moji.entity.Attention">
		select * from attention where oneId=#{attention.oneId} and twoId=#{attention.twoId}
	</select>
	<!-- 更新用户信息 -->
	<update id="updateMsgOfUser">
		update user_detail 
		set avatar_path=#{user.userHeadImg},user_name=#{user.userName},sex=#{user.sex},signature=#{user.signature},occupation=#{user.occupation} 
		where user_id=#{user.userId}
	</update>
	<!-- 更改个人信息不改头像 -->
	<update id="updateMsgWithoutAvatar">
		update user_detail 
		set user_name=#{user.userName},sex=#{user.sex},signature=#{user.signature},occupation=#{user.occupation} 
		where user_id=#{user.userId}
	</update>
	<!-- 用户登录 -->
	<select id="loginUser" resultMap="userMap">
		select * from user_detail where phone=#{phone} and password=#{password}
	</select>
	<!-- 查询该手机号是否已注册 -->
	<select id="queryPhone" resultMap="userMap">
		select * from user_detail where phone=#{phone}
	</select>
	<!-- 添加用户 -->
	<insert id="addUsers" parameterType="com.moji.entity.User">
		insert into 
		user_detail(user_id,user_name,password,phone) 
		values (#{user.userId},#{user.userName},#{user.password},#{user.phone})
	</insert>
	<!-- 添加关注条目 -->
	<insert id="addAttention" parameterType="com.moji.entity.Attention">
		insert into 
		attention(id,oneId,twoId) 
		values (#{attention.id},#{attention.oneId},#{attention.twoId})
	</insert>
	<!-- 删除关注条目 -->
	<delete id="deleteAttention" parameterType="com.moji.entity.Attention">
		delete from attention where oneId=#{attention.oneId} and twoId=#{attention.twoId} 
	</delete>
	<!-- 修改密码 -->
	<update id="changeUserPwd">
		update user_detail set password=#{newPwd} where user_id=#{userId}
	</update>
</mapper>
